.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 400px;
}
.format {
  display: flex;
  gap: 1.5rem;
}
.task_container {
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.task {
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}